---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import brayanPhoto from "../images/bryanPhoto.jpg";
import Years from "../components/Years.astro";
import Skills from "../components/Skills.astro";
import htmlIcon from "../components/icons/Html 5.svg";
import Experience from "../components/Experience.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout
  title="Portfolio Brayan Martinez - Diseñador Web - Diseñador UX UI - Desarrollador Front End"
  description=" Contactame para crear sitios web increibles!!"
>
  <main
    class="mt-2 flex flex-col gap-20 px-6 w-full md:mt-12 md:justify-center items-center"
  >
    <sectionContainer class="flex flex-col gap-5 md:flex-row justify-center">
      <section>
        <img
          class="rounded-full w-60 h-60 object-cover"
          src={brayanPhoto.src}
          alt="logo bryan"
        />
      </section>
      <section class="flex flex-col justify-around">
        <div class="flex flex-col gap-4">
          <h1
            class="text-6xl flex gap-3 items-start flex-col-reverse md:flex-row"
          >
            Hola!, Soy Brayan <Badge>Disponible para Crear!!</Badge>
          </h1>
          <h2 class="text-3xl text-orange-300">
            Diseñador UX UI | Desarrollador Front End
          </h2>
        </div>
        <div class="">
          <h3 class="text-3xl mt-4 text-blue-200">Sobre Mi</h3>
          <p class="text-lg md:text-m max-w-[500px]">
            Soy un apasionado diseñador UX/UI y desarrollador frontend con base
            en Colombia. Mi enfoque es crear experiencias digitales
            excepcionales que fusionan la estética visual con la funcionalidad
            intuitiva.
          </p>
        </div>
      </section>
    </sectionContainer>

    <Years class="flex flex-col justify-center gap-10 md:flex-row" />

    <section id="skills">
      <Skills class="flex flex-col gap-8 md: items-center" />
    </section>

    <section id="experience">
      <Experience />
    </section>

    <section id="proyects">
      <Proyects />
    </section>
  </main>
</Layout>
