---
import LaptopIcon from "./icons/laptopIcon.astro";
---

<section class="md:px-8 flex flex-col justify-center max-w-[900px]">
  <h1 class="flex flex-row items-center gap-2 text-4xl">
    <LaptopIcon />
     Experiencia
  </h1>
  <ol class="ml-5 pt-8 relative border-s border-gray-200 dark:border-[#9CA8B5]">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-200"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-[#9CA8B5]"
        >Julio 2023 - Octubre 2023 (4 meses)</time
      >
      <h3 class="text-lg font-semibold text-gray-300 dark:text-white">
        Diseño App Web - Parkando
      </h3>
      <p class="mb-4 text-base font-normal text-white-300 dark:text-gray-200">
        Trabaje en el areea de diseño y desarrollo de una app movil llamada
        Parkando
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-200"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-[#9CA8B5]"
        >Mayo 2022 - Julio 2023 ( 1 año )</time
      >
      <h3 class="text-lg font-semibold text-gray-300 dark:text-white">
        Diseñador UX / UI y Front End Developer
      </h3>
      <p class="text-base font-normal text-white-300 dark:text-gray-200">
        Encargado de realizar el Diseño y Rediseño de diferentes productos
        digitales como aplicaciones mobiles y sitios web enfocados en la
        optimización del trabajo en el sector de la construccion vial en
        diferentes paises de la latinoamerica. Adicional me encargaba de
        maquetar los diseños aprobados en <strong class="text-white">
          HTML</strong
        > ,<strong class="text-white"> CSS</strong> y<strong class="text-white">
          JavaScript</strong
        > para facilitar los procesos en el area de desarrollo
      </p>
    </li>
    <li class="ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-200"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-[#9CA8B5]"
        >Abril 2021 - Abril 2022 (1 año)</time
      >
      <h3 class="text-lg font-semibold text-gray-300 dark:text-white">
        Diseñador UX UI
      </h3>
      <p class="text-base font-normal text-white-500 dark:text-gray-200">
        Trabajé con diferentes desarrolladores independientes, realizando MVPs
        para diferentes proyectos.
      </p>
    </li>
  </ol>
</section>
